body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	min-height: 100vh;
	overflow-x: hidden;

	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}

header {
	background: #939;
	background: linear-gradient(130deg, #939, #9146ff);
	padding: 2rem 0;
	color: #fff;
}

footer {
	padding: 2rem 0;
	background: #0f0f0f;
	color: #fff;
}

header a {
	color: #fff;
}

main {
	margin: 3rem;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

header h1 {
	text-align: center;
}

h1, h2 {
	margin: 0;
}

section {
	margin: 1rem;
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 2px 2px 10px rgba(0, 0, 0, .2);
	transition: background-color .2s ease-in-out;
	background-color: #fff;
	flex: 0 1 300px;
}

section:hover {
	background-color: #ddd;
}

.emotes {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.original {
	width: 100%;
	height: auto;
}

.x4 {
	width: 112px;
	height: 112px;
}

.x2 {
	width: 56px;
	height: 56px;
}

.x1 {
	width: 28px;
	height: 28px;
}

.tier, .bits {
	display: inline-block;
	padding: .2em .4em;
	background-color: #9146ff;
	color: #fff;
	font-weight: bold;
	border-radius: .2em;
}

.bits-1k {
	background-color: #02AC94;
}

.bits-5k {
	background-color: #497AFF;
}

.bits-10k {
	background-color: #DC2324;
}

section img {
	max-width: 100%;
}

.center {
	text-align: center;
}

.new h2::after {
	display: inline;
	content: "NEW";
	font-size: .75em;
	padding: .25em .5em;
	background: linear-gradient(130deg, #939, #9146ff);
	border-radius: .5em;
	margin: 0 .25em;
	color: #fff;
}

.new:hover {
	background-color: #9146ffaa;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #0f0f0f;
		color: #fff;
	}
	section {
		background-color: #222;
	}
	section:hover {
		background-color: #fff3;
	}
}

@media only screen and (min-width: 900px) {
	main {
		display: grid;
		grid-template-columns: repeat(3, 300px);
		margin: 3rem auto;
	}
}
